@page "/Account/Manage"
@using SWGIndustries.Services

@inject UserService UserService

<h3>Manage Account: @_user.Name</h3>
<br/>
<p>
    <MudAvatar Style="width: 150px; height: 150px;">
        <MudImage Src="@_user.AvatarUrl"></MudImage>
    </MudAvatar>
</p>

@code {
    private UserInfo _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.GetUserInfo();
    }
}
