@page "/Account/Manage"
@using SWGIndustries.Services

@inject UserManager UserManager

<h3>Manage Account: @_info.Name</h3>
<br/>
<p>
    <MudAvatar Style="width: 150px; height: 150px;">
        <MudImage Src="@_info.AvatarUrl"></MudImage>
    </MudAvatar>
</p>

@code {
    private ExternalUserInfo _info;

    protected override async Task OnInitializedAsync()
    {
        _info = await UserManager.GetExternalUserInfo();
    }
}
