@using SWGIndustries.Services
@inherits LayoutComponentBase
@inject NavigationManager NavMgr
@inject UserManager UserManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-1">
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    <a href="Account/Manage">
                        @context.User.Identity?.Name
                        @if (UserManager.ExternalUserInfo != null && UserManager.ExternalUserInfo.AvatarUrl != null)
                        {
                            <img src="@UserManager.ExternalUserInfo.AvatarUrl" referrerPolicy="no-referrer" width="40" height="40" alt="Avatar Picture" style="border-radius: 50%; margin-left: 0.5rem"/>
                        }
                    </a>
                    <a href="Account/Logout">LogOut</a>
                </Authorized>
                <NotAuthorized>
                    <a class="nav-link" href="Account/Login?ReturnUrl=@ReturnUrl">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private string ReturnUrl { get; set; }

    protected override Task OnInitializedAsync()
    {
        ReturnUrl = NavMgr.ToBaseRelativePath(NavMgr.Uri);
        if (ReturnUrl == "") 
        {
            ReturnUrl = "/";
        }

        return Task.CompletedTask;
    }
}
