@using Microsoft.AspNetCore.Http
@using SWGIndustries.Services
@inject IHttpContextAccessor HttpContextAccessor
@inject UserManager UserManager

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SWGIndustries</a>
    </div>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <!--Ensure the user can actually access guilds before showing the view-->
            <Authorized>
                <li class="nav-item px-1">
                    <NavLink class="nav-link" href="SWGAccounts">
                        <span class="bi" aria-hidden="true"></span> SWG Accounts
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>*@

<MudNavLink Href="SWGAccounts">SWG Accounts</MudNavLink>

@code {

    private ExternalUserInfo _info;

    protected override async Task OnInitializedAsync()
    {
        //Don't attempt to query if the user isn't authenticated.
        if (HttpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
        {
            _info = await UserManager.GetExternalUserInfo();
        }
    }
}
