@page "/SWGAccounts"
@using Microsoft.EntityFrameworkCore
@inject SWGIndustries.Data.ApplicationDbContext DbContext

<h3>Star Wars Galaxies Restoration 3 Accounts</h3>

<button @onclick="ShowForm">
    <i class="fas fa-plus"></i>
</button>

@if (showForm)
{
    <EditForm Model="newAccount" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label for="accountName">Account Name:</label>
            <InputText id="accountName" @bind-Value="newAccount.Name" />
        </div>
        <button type="submit">Create</button>
    </EditForm>
}

@if (swgAccounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var account in swgAccounts)
        {
            <li>
                <strong>@account.Name</strong>
                <ul>
                    @foreach (var character in account.SWGCharacters)
                    {
                        <li>@character.Name</li>
                    }
                </ul>
            </li>
        }
    </ul>
}

@code {
    private List<Data.SWGAccount> swgAccounts;
    private bool showForm = false;
    private Data.SWGAccount newAccount = new();

    protected override async Task OnInitializedAsync()
    {
        swgAccounts = await DbContext.SWGAccounts.Include(a => a.SWGCharacters).ToListAsync();
    }
    
    private void ShowForm()
    {
        showForm = true;
    }

    private async Task HandleValidSubmit()
    {
        DbContext.SWGAccounts.Add(newAccount);
        await DbContext.SaveChangesAsync();
        swgAccounts = await DbContext.SWGAccounts.Include(a => a.SWGCharacters).ToListAsync();
        newAccount = new Data.SWGAccount();
        showForm = false;
    }
}